h1 {
  margin: 0;
  font-weight: 500;
  font-size: 50px;
  color: #ffffff;
}

label {
  font-weight: 400;
  font-size: 18px;
  position: absolute;
}

input:focus + .label-destination {
  transform: translateY(-4rem);
  transition: 0.2s ease-in;
  color: #ffffff;
}

input {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #383838;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

.sprite {
  position: absolute;
  width: 0;
  height: 0;
  visibility: hidden;
}

.start {
  background-image: url("http://localhost:8081/images/trip-house.svg");
  background-position: top center;
  min-height: 940px;
}

.header-site {
  display: flex;
  justify-content: space-between;
  padding-top: 51px;
  margin-bottom: 196px;
  align-items: center;
  color: #ffffff;
}

.site-logo {
  width: 205px;
  height: 40px;
}

.header-site-navigation {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 24px;
}

.nav-item-1:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 0px;
  height: 4px;
  background-color: #f5bd41;
  bottom: -5px;
  left: 6px;
}

.nav-item-1:hover:after {
  width: 50px;
  transition: all 700ms;
}

.nav-item-2 {
  position: relative;
  margin-left: 24px;
}

.nav-item-2:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 0px;
  height: 4px;
  background-color: #f5bd41;
  bottom: -14px;
  left: 5px;
}

.nav-item-2:hover:after {
  width: 103px;
  transition: all 600ms;
}

.nav-day-night {
  margin-left: 48px;
  height: 30px;
  width: 30px;
}

.link-nav-day-night {
  position: relative;
}

.link-nav-day-night:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 0px;
  height: 4px;
  background-color: #f5bd41;
  bottom: -10px;
  right: 5px;
}

.link-nav-day-night:hover:after {
  width: 20px;
  transition: all 800ms;
}

.nav_account_circle {
  margin-left: 24px;
  height: 40px;
  width: 40px;
}

.link-nav_account_circle {
  position: relative;
}

.link-nav_account_circle:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 0px;
  height: 4px;
  background-color: #f5bd41;
  bottom: -5px;
  right: 5px;
}

.link-nav_account_circle:hover:after {
  width: 29px;
  transition: all 750ms;
}

.nav_menu {
  display: none;
}

.logout {
  position: absolute;
  right: 0%;
  top: 71px;
  width: 192px;
  height: 50px;
  border-radius: 0;
  font-size: 20px;
  display: flex;
  column-gap: 16px;
  align-items: center;
}

.logoutNone {
  display: none;
}

.nav-log-out {
  height: 16px;
  width: 16px;
  margin-left: 16px;
}

.container-signIn {
  height: 364px;
  width: 400px;
  position: absolute;
  top: 268px;
  right: 25rem;
  background-color: #FFFFFF;
}

.container-sign-inNone {
  display: none;
}

.title-signIn {
  width: 74px;
  height: 28px;
  font-size: 24px;
  font-weight: 500;
  margin: 36px 163px 40px;
  color: #000000;
}

.wrapper-input-value {
  margin: 0 40px;
}

.label-email, .label-password {
  margin-bottom: 8px;
  font-weight: 300;
  font-size: 16px;
  display: block;
  position: relative;
  color: #333333;
}

.input-password, .input-email {
  width: 98%;
  height: 41px;
  margin-bottom: 16px;
  border-radius: 8px;
  color: #CECECE;
}

.btn-signIn {
  margin-top: 8px;
  width: 320px;
  height: 48px;
  background-color: #3077C6;
  color: #FFFFFF;
}

.page {
  position: relative;
  margin-bottom: 120px;
}

.pageNone {
  display: none;
}

.h1-block {
  margin: 0 0 145px;
}

.label-destination {
  top: 22px;
  left: 24px;
  color: #383838;
}

.desktop-form {
  display: flex;
  position: relative;
  height: 64px;
  width: 100%;
  margin-bottom: 120px;
  border: none;
  border-radius: 8px;
  background: #ffffff;
}

.destination {
  width: 37%;
  padding-left: 2%;
  border-radius: 8px;
  border: none;
}

.form-input-date {
  position: relative;
  display: flex;
  width: 21%;
  border: 3px solid #f5bd41;
  border-radius: 8px;
}

.form-date-label {
  position: absolute;
  top: -2.6rem;
  right: 2rem;
  color: #ffffff;
}

.react-datepicker__input-container, .form-date {
  width: 98%;
  height: 90%;
  border: none;
  text-align: center;
}

.date {
  border: none;
}

.dash {
  position: absolute;
  top: -2.6rem;
  left: 7rem;
  color: #ffffff;
}

.form-wrapper-people {
  display: flex;
  text-align: center;
  width: 26%;
  border-radius: 8px;
  border: none;
}

.form-input-people {
  width: 33.3%;
  border: none;
  text-align: center;
}

.search {
  width: 16%;
  background: #3077c6;
  font-weight: 500;
  color: #ffffff;
}

.form-filter-people-focus {
width: 13.6rem;
background-color: #ffffff;
flex-direction: column;
padding: 22px;
font-size: 16px;
border-radius: 8px;
position: absolute;
right: 12rem;
top: 5rem;
}

.form-filter-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.form-filter-div input {
  width: 19px;
  height: 29px;
  border: none;
  outline: none;
  text-align: center;
}

.filter-btns-wrapper {
  display: flex;
  column-gap: 0.8rem;
}

.filter-btns-wrapper button {
  width: 30px;
  height: 30px;
  justify-content: flex-end;
  font-size: 18px;
  color: #3077c6;
  background-color: #ffffff;
  border: solid #3077c6;
  border-radius: 0;
}

.filter-label-wrapper {
  display: flex;
}

.filter-label {
  position: relative;
}

.contextMenu-title {
  font-size: 12px;
  margin: 16px 0 12px;
}

.contextMenu-selector {
  width: 99px;
  height: 30px;
  border-radius: 0;
  color: #333333;
  border-color: #3077c6;
  outline: none;
  margin-right: 5px;
}

.m-form {
  display: none;
}

.apps {
  display: flex;
  justify-content: center;
}

.appsNone {
  display: none;
}

.google-play {
  width: 135px;
  height: 40px;
  margin-right: 17px;
}

.app-store {
  width: 120px;
  height: 40px;
}