body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  font-style: normal;
}

h2 {
  margin: 0px 0 104px;
  text-align: center;
  font-weight: 500;
  font-size: 40px;
}

a {
  text-decoration: none;
  cursor: none;
  color: #ffffff;
}

button {
  border: none;
  border-radius: 8px;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.col-1 {
  width: 8.3%;
}

.col-2 {
  width: 16.6%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3%;
}

.col-5 {
  width: 41.6%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3%;
}

.col-8 {
  width: 66.6%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3%;
}

.col-11 {
  width: 91.6%;
}

.col-12 {
  width: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 0;
}


.sprite {
  position: absolute;
  width: 0;
  height: 0;
  visibility: hidden;
}